:root{
  --main-bg-color: #0e0220;
  --main-color: #fde047;
  --hover-color: #fbbf24;
  --text-primary-color: #fafafa;
  --text-secondary-color: #e2e8f0;
  --container-width: 90%;
}
::-webkit-scrollbar{
  width: 8px;
  height: 7px;
}

::-webkit-scrollbar-thumb{
  background-color: #fcd34d;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #fbbf24;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  font-family: verdana,sans-serif;
}

.App{
  position: relative;
  min-height: 100vh;
}

.contentWrap{
  padding-bottom: 200px;
}

